/* Milkdown Overrides */

.milkdownEditor :global(.milkdown) {
  /* Text color */
  --crepe-color-on-background : var(--gray-12);
  /* Background color */
  --crepe-color-background: var(--gray-1);
}

.milkdownEditor :global(.milkdown .editor) {
  padding : 1em;
  border: 1px solid var(--gray-7);
  border-radius: 8px;
}

/* Hide the handle to drop/drop blocks */
.milkdownEditor :global(.milkdown .milkdown-block-handle) {
  display : none;
}

/* End Milkdown Overrides */


.milkdownEditor :global(.milkdown .milkdown-slash-menu), .milkdownEditor :global(.milkdown .milkdown-toolbar) {
  z-index: 3;
}
