@import "@radix-ui/themes/styles.css";
@import "tailwindcss";

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.radix-themes {
  --default-font-family: sans-serif;
}