@import "@radix-ui/themes/styles.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "assets/fonts/inter/inter.css";

:root {
  --NavBarHeight: 48px;
  --FooterBarHeight: 24px;

  color-scheme: light dark;

  --default-font-feature-settings: 'liga' 1, 'calt' 1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.radix-themes {
  --default-font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
  .radix-themes {
    --default-font-family: InterVariable, sans-serif;
  }
}

/* Styles for radix form elements */
form label {
  @apply text-sm text-(--gray-11);
}

form label[data-invalid="true"] {
  @apply text-(--red-11);
}

/* Give invalid form elements a red accent color */
/* Effectively sets their color prop to red. */
[aria-invalid="true"] {
  --accent-1: var(--red-1);
  --accent-2: var(--red-2);
  --accent-3: var(--red-3);
  --accent-4: var(--red-4);
  --accent-5: var(--red-5);
  --accent-6: var(--red-6);
  --accent-7: var(--red-7);
  --accent-8: var(--red-8);
  --accent-9: var(--red-9);
  --accent-10: var(--red-10);
  --accent-11: var(--red-11);
  --accent-12: var(--red-12);
  --accent-a1: var(--red-a1);
  --accent-a2: var(--red-a2);
  --accent-a3: var(--red-a3);
  --accent-a4: var(--red-a4);
  --accent-a5: var(--red-a5);
  --accent-a6: var(--red-a6);
  --accent-a7: var(--red-a7);
  --accent-a8: var(--red-a8);
  --accent-a9: var(--red-a9);
  --accent-a10: var(--red-a10);
  --accent-a11: var(--red-a11);
  --accent-a12: var(--red-a12);
  --accent-contrast: var(--red-contrast);
  --accent-surface: var(--red-surface);
  --accent-indicator: var(--red-indicator);
  --accent-track: var(--red-track);
  --focus-1: var(--accent-1);
  --focus-2: var(--accent-2);
  --focus-3: var(--accent-3);
  --focus-4: var(--accent-4);
  --focus-5: var(--accent-5);
  --focus-6: var(--accent-6);
  --focus-7: var(--accent-7);
  --focus-8: var(--accent-8);
  --focus-9: var(--accent-9);
  --focus-10: var(--accent-10);
  --focus-11: var(--accent-11);
  --focus-12: var(--accent-12);
  --focus-a1: var(--accent-a1);
  --focus-a2: var(--accent-a2);
  --focus-a3: var(--accent-a3);
  --focus-a4: var(--accent-a4);
  --focus-a5: var(--accent-a5);
  --focus-a6: var(--accent-a6);
  --focus-a7: var(--accent-a7);
  --focus-a8: var(--accent-a8);
  --focus-a9: var(--accent-a9);
  --focus-a10: var(--accent-a10);
  --focus-a11: var(--accent-a11);
  --focus-a12: var(--accent-a12);
}

[aria-invalid="true"] {
  @apply !ring !ring-(--accent-7);
}

/* Tailwind utility to set alternative stylistic set on text to disambiguate characters */
@utility ss02 {
  font-feature-settings: 'ss02' 1;
}

@utility bg-dots-1 {
  @apply bg-[var(--gray-1)] bg-radial from-[var(--gray-2)] from-[1px] to-transparent to-0% bg-size-[4px_4px] bg-repeat-space;
}

@utility bg-dots-2 {
  @apply bg-[var(--gray-2)] bg-radial from-[var(--gray-3)] from-[1px] to-transparent to-0% bg-size-[4px_4px] bg-repeat-space;
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* Subtle animation to emphasize "Start Challenge" buttons */
@media (prefers-reduced-motion: no-preference) {
  .pulsate {
    animation: pulsate 1.5s ease-in-out infinite;
  }
}
