@import "@radix-ui/themes/styles.css";
@import "tailwindcss";
@import "assets/fonts/inter/inter.css";

:root {
  --NavBarHeight: 48px;
  --FooterBarHeight: 24px;

  color-scheme: light dark;

  --default-font-feature-settings: 'liga' 1, 'calt' 1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.radix-themes {
  --default-font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
  .radix-themes {
    --default-font-family: InterVariable, sans-serif;
  }
}